{{> head }}

{{> navbar }}


<div class="row">

    <div class="col-8">
        <h1>Hitman</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos veritatis dolores sapiente doloremque iste aut minus itaque, ut ratione! Exercitationem autem delectus hic qui deleniti reprehenderit beatae, illum optio.</p>

    <div class="col-4">
        <img src="assets/img/hitman.jpg" alt="" class="img-thumbnail">
    </div>

</div>

{{> footer }}